# ======================
# DATASETS (DO NOT PUSH)
# ======================
data/cicids2017/
data/*.csv

# ======================
# TRAINED MODELS
# ======================
models/
*.pkl
*.joblib

# ======================
# PYTHON CACHE
# ======================
__pycache__/
*.pyc
